---
import Layout from '../layouts/Layout.astro';
import styles from '../pages-styles/about.module.scss';
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
---

<Layout
    title="Niall Crosby: Our Amazing Founder"
    description="The story and legacy of Niall Crosby, founder of AG Grid."
    showSearchBar={true}
    showDocsNav={false}
>
    <div class="layout-max-width-small">
        <section class={styles.introSection}>
            <span class={styles.eyebrow}>In memory of Niall Crosby</span>
            <h2>Our Amazing Founder</h2>

            <p>
                AG Grid would not be where we are today without our founder Niall Crosby - a truly inspiring and unique
                individual who left his indelible mark on the world, as well as on his friends and colleagues at AG
                Grid. Niall was different to other founders from the start - the company was a reflection of his
                personality. Excessive noise and overheads were removed leaving a singular focus on building the best
                grid. That clarity of vision was essential in our early days and the spirit of this lives on today.
                Niall had the ability to break things down to the absolute fundamentals, bringing sharp focus to
                everything we do and great clarity to our mission.
            </p>
        </section>

        <div class={styles.photoSection}>
            <img
                src={urlWithBaseUrl('images/ag-grid-founder-niall-crosby.webp')}
                alt="AG Grid founder Niall Crosby"
                class={styles.niallHeaderImage}
            />
            <span>Niall Crosby 1977-2024</span>
        </div>

        <section class={styles.contentSection}>
            <div class={styles.niallSectionContent}>
                <div class={styles.niallTextBlock}>
                    <p>
                        Those of us present for the early days also fondly remember Niall’s wicked sense of humour and
                        the genuine joy he took from seeing the success of the company as we achieved remarkable things.
                        Having tried his hand at a few startups, Niall knew just how thin the line between failure and
                        success could be. He was deeply humble and never took our wins for granted, always retaining a
                        refreshing incredulity of the astounding success his company achieved. As the company grew and
                        our client base with it, Niall built our culture of delivering high quality output whilst
                        surrounding himself with likeminded people to share in the success. He was also brave, and even
                        under pressure he stuck firmly to his principles – and those principles still shape AG Grid
                        today.
                    </p>
                    <p>
                        A lover of tech, travel and adventure, Niall was a fiercely independent thinker. He had been
                        coding from a young age and delighted in seeing patterns, trends and solutions that others could
                        not. He had an enormous curiosity for how things worked and an incredible technical mind, which
                        led him to the world of software development. His career blossomed with his talent quickly
                        coming to the fore as he developed enterprise applications. Niall also had an entrepreneurial
                        streak, always on the lookout for an opportunity to start his own business. While working as a
                        freelance developer, Niall felt a deep frustration with the quality of JavaScript datagrids so
                        he decided to build his own. This was the origin of AG Grid. Other developers shared his
                        frustration and the project quickly gained traction.
                    </p>
                </div>
            </div>
        </section>

        <div class={`${styles.photoSection} ${styles.photoSectionTwo}`}>
            <img
                src={urlWithBaseUrl('images/niall-crosby-finjs-2022.webp')}
                alt="Niall Crosby speaking at Fin.js 2022 conference"
                class={styles.niallHeaderImage}
            />
        </div>

        <section class={styles.contentSection}>
            <div class={styles.niallSectionContent}>
                <div class={styles.niallTextBlock}>
                    <p>
                        Niall sadly lost his life in a tragic accident in July 2024 in his native Ireland. His legacy
                        lives on in the ambition, creativity and care he instilled in everyone at AG Grid. It is evident
                        in the inspiration and support he provided to countless young developers and startups throughout
                        his career. It lives on in the memories of his friends, colleagues and his young family who were
                        central to his life.
                    </p>
                    <p>
                        At AG Grid we are proud to carry that legacy forward. Many of us have been part of this journey
                        with Niall from the beginning. As Niall's friends and work family we are more committed than
                        ever to pushing the boundaries, constantly developing new features and products, and showing the
                        world what is possible.
                    </p>
                </div>
            </div>
        </section>
    </div>
</Layout>
