---
import Layout from '@layouts/Layout.astro';
import { Content as ModernSlaveryPolicies } from '@ag-website-shared/content/policies/modern-slavery.mdoc';
import styles from '../policyPage.module.scss';

interface Props {
    name: string;
}

const { name } = Astro.props;
---

<Layout
    title={`${name}: Modern Slavery and
Human Trafficking Statement`}
    description="AG Grid Ltd has a zero-tolerance approach to modern slavery. We are committed to acting ethically and with integrity in all our business dealings and relationships and to implementing and enforcing effective systems and controls to ensure modern slavery is not taking place anywhere in our own business or in any of our supply chains."
    showSearchBar={true}
    showDocsNav={false}
>
    <div class:list={styles.policyPage}>
        <div class="layout-max-width-small">
            <h1>AG Grid Modern Slavery and Human Trafficking Statement</h1>
            <hr />

            <header>
                <div id="meta" class={styles.introduction}>
                    <p><strong>For the Financial Year Ending 31 December 2026</strong></p>
                    <p><strong>Version:</strong> 1.0</p>
                    <p><strong>Effective Date:</strong> 01 January 2026</p>
                </div>

                <nav>
                    <ul class="list-style-none">
                        <li>
                            <a href="#intro-modern-slavery">1. Introduction</a>
                        </li>
                        <li>
                            <a href="#organisation-structure"> 2. Organisation Structure and Supply Chain</a>
                        </li>
                        <li>
                            <a href="#policies-modern-slavery">3. Policies in Relation to Modern Slavery</a>
                        </li>
                        <li>
                            <a href="#due-diligence">4. Due Diligence Processes</a>
                        </li>
                        <li>
                            <a href="#risk-assessment">5. Risk Assessment</a>
                        </li>
                        <li>
                            <a href="#training-awareness">6. Training and Awareness</a>
                        </li>
                        <li>
                            <a href="#kpis-future">7. Key Performance Indicators and Future Steps</a>
                        </li>
                        <li>
                            <a href="#approval-modern-slavery">8. Approval</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class={styles.policyList}>
                <ModernSlaveryPolicies />
            </div>
        </div>
    </div>
</Layout>
